h1{
    background-color: rgb(235, 113, 0);
    text-align: center;
}
li{
    margin-top: 20px;
}
body{
    background-color: rgb(157, 169, 218);
}
h2{
    text-align: center;
    background-color: green;
}
h4{
    text-align: center;
    background-color: antiquewhite;
}
i{
    background-color: rgb(192, 79, 9);
}
img{
    
    margin-left: 530px;
}
h3{
    text-align: center;
}
p{
    text-align: center;
}
